<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521/xe</property>
        <property name="connection.username">jtest</property>
        <property name="connection.password">ezen1234</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Drop and re-create the database schema on startup -->
        <!-- 
        	create, create-drop : 등록되어 있는 엔티티에 매핑된 테이블을 드랍하고 새로 생성함.
        	validate : 엔티티의 컬럼들과 테이블의 컬럼들이 동일한지를 체크만함.
        	update : 변경된 것만 반영함
        	none : 진짜 암것두 안함.
         -->
        <property name="hbm2ddl.auto">none</property>
        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        <mapping class="com.test.web.entity.HiberInfo" />
        <mapping class="com.test.web.entity.MemberInfo" />
        <mapping class="test.ComputerInfo" />
    </session-factory>
</hibernate-configuration>